.dashboard{
  position: absolute;
  top: 60px;
  right: -50px;
  border-radius: 10px;
  background: #fff;
  width: 300px;
  text-align: center;
  padding: 20px 0;
  transition: 0.5s ease-in-out top;
}
.dashboard ul li{
  padding: 8px 0;
}
.hideDashboard{
  top: calc(-100% - 500px);
}
.dashboard ul li:hover a{
  color: #00BFFF;
}